/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import "./animations.css";

/* Main page and main grid container fallback layout */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0.5vw 1vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f1f6f1;
}

/* Grid layout */
@supports (display: grid) {
    .grid-container {
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
        gap: 1rem;
    }

    .navbar {
        width: 100%;
        /* background-color: #fff654; */
        background-image: linear-gradient(-45deg, rgb(255, 249, 129), #f1e93f);
        padding: 0.3vw 0;
    }

    /* Looking to add animated  */
    /* .movement::after {
        content: "";
        width: 45px;
        background-color: green;
        display: block;
    } */

    .navbar ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 1vw;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .navbar a {
        color: #000;
        font-size: 0.9rem;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease-out;
    }

    /* body styling */
    h1 {
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        font-size: 6vw;
        padding-left: 7%;
        grid-column: 1 / 7;
    }

    h1::after {
        content: '';
        display: block;
        background-color: black;
        height: 5px;
    }

    #contact-info ul {
        padding: 0;
        list-style:none;
        display: flex;
        padding-left: 7%;
        font-family: 'Nunito Sans', sans-serif;
    }

    .section {
        /* display: grid;
        grid-template-columns: repeat(6, auto); */
        border: 1px solid black;
    }

    #dev-projects {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 1rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        border-radius: 5px;
        padding: 0 1vw;
    }

    .card {

    }

    .project .left {
        display: none;
    }

    #job-title {
        /* order: -1; */
        grid-column: 1/7;
        padding-left: 7%;
        text-transform: uppercase;
    }
}

footer {
    width: 100%;
    background-color: #fff654;
    padding: 0.3vw 0 0.5vw 0;
}